<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.shopping.order.OrderMapper">

<!-- DTO 매칭을 위해서 사용 -->
	<resultMap type="com.kitri.shopping.order.Order" id="OrderResultMap">
		
		<result property="order_num" column="order_num" />
		<result property="order_date" column="order_date" />
		<result property="user_id" column="user_id" />
		
		<result property="order_info_num" column="order_info_num" />
		<result property="product_id" column="product_id" />
		<result property="product_cnt" column="product_cnt" />
		<result property="product_status" column="product_status" />
		<result property="cancel_comment" column="cancel_comment" />
		<result property="comment" column="comment" />
		<result property="recommend" column="recommend" />
	
		
		
		
	</resultMap>

	<insert id="insert_order" parameterType="com.kitri.shopping.order.Order" >
		INSERT INTO order values(#{order_num},#{order_date},#{user_id})
	</insert>
	
	<insert id="insert_order_info" parameterType="com.kitri.shopping.order.Order" >
		INSERT INTO order_info values(#{order_info_num},#{order_num}, #{product_id},#{product_cnt},#{product_status},#{cancel_comment},#{comment},#{recommend})
	</insert>
	
	

	<select id="select_order" resultMap="OrderResultMap" parameterType="String">
		SELECT order_num,order_date, user_id FROM order where USER_ID=#{USER_ID}
	</select>
	
	<select id="select_order_info" resultMap="OrderResultMap" parameterType="String">
		SELECT order_info_num,order_num,product_id,product_cnt,product_status,cancel_comment,comment,recommend FROM order_info where USER_ID=#{USER_ID}
	</select>




	<select id="selectAll_order" resultMap="OrderResultMap">
		SELECT order_num,order_date, user_id FROM order order by USER_ID desc
	</select>
	
	<select id="selectAll_order_info" resultMap="OrderResultMap">
		SELECT order_info_num,order_num,product_id,product_cnt,product_status,cancel_comment,comment,recommend FROM order_info order by USER_ID desc
	</select>
	
	
	
	<update id="update_order" parameterType="com.kitri.shopping.order.Order">
		update order set order_num=#{order_num}, order_date=#{order_date} where user_id=#{user_id}
	</update>
	
	<update id="update_order_info" parameterType="com.kitri.shopping.order.Order">
		update order_info set order_info_num=#{order_info_num}, order_num=#{order_num}, product_id=#{product_id}, product_cnt=#{product_cnt}, product_status=#{product_status}, cancel_comment=#{cancel_comment}, comment=#{comment}, recommend=#{recommend} where user_id=#{user_id}
	</update>
	
	
</mapper>
