<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.shopping.order.OrderMapper">

<!-- DTO 매칭을 위해서 사용 -->
	<resultMap type="com.kitri.shopping.order.Order" id="OrderResultMap">
		
		<result property="order_num" column="order_num" />
		<result property="order_date" column="order_date" />
		<result property="user_id" column="user_id" />
		<result property="order_info_num" column="order_info_num" />
		<result property="product_id" column="product_id" />
		<result property="product_cnt" column="product_cnt" />
		<result property="product_status" column="product_status" />
		<result property="cancel_comment" column="cancel_comment" />
		<result property="comment" column="comment" />
		<result property="recommend" column="recommend" />
		<result property="img_url" column="img_url" />
	
	</resultMap>

	<insert id="insertOrder" parameterType="com.kitri.shopping.order.Order" >
	
	</insert>

	<select id="selectOrder" resultMap="OrderResultMap" parameterType="String">
	select o.ORDER_NUM ORDER_NUM,
	 o.ORDER_DATE ORDER_DATE,
	  o.USER_ID USER_ID ,
	  oi.ORDER_INFO_NUM,
	  oi.CANCEL_COMMENT,
	  oi.COMMENTS,
	  oi.PRODUCT_CNT,
	  oi.PRODUCT_ID,
	  oi.PRODUCT_STATUS,
	  oi.RECOMMEND
	  from order_info oi JOIN ORDERS o
	  ON o.ORDER_NUM=oi.ORDER_NUM
	  where o.ORDER_NUM = #{order_num}
	</select>
	
	<select id="selectOrderList" resultMap="OrderResultMap" parameterType="String">
		
	</select>

	<select id="selectAllOrderInfo" resultMap="OrderResultMap">
	
	</select>
	
	<update id="editOrder" parameterType="com.kitri.shopping.order.Order">
	
	</update>
	
	<update id="cancelOrder" parameterType="com.kitri.shopping.order.Order">
	
	</update>
	
	
	
	
	
</mapper>
