<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.shopping.order.OrderMapper">

<!-- DTO 매칭을 위해서 사용 -->
	<resultMap type="com.kitri.shopping.order.Order" id="OrderResultMap">
		
		<result property="order_num" column="order_num" />
		<result property="order_date" column="order_date" />
		<result property="user_id" column="user_id" />
		<result property="product_id" column="product_id" />
		<result property="product_cnt" column="product_cnt" />
		<result property="product_status" column="product_status" />
		<result property="cancel_comment" column="cancel_comment" />
		<result property="name" column="name" />
		<result property="comment" column="comment" />
		<result property="recommend" column="recommend" />
		<result property="img_url" column="img_url" />
		<result property="price" column="price" />
	
	</resultMap>

	<insert id="insertOrder" parameterType="com.kitri.shopping.order.Order" >
		insert into ORDERS VALUES
		(seq_order.nextval,
		#{product_id},
		#{product_cnt},
		'결제 대기중',
		null,
		null,
		null,
		#{user_id},
		sysdate)
	</insert>

	<select id="selectOrder" resultMap="OrderResultMap" parameterType="String">
		select o.ORDER_NUM ORDER_NUM,
		 o.ORDER_DATE ORDER_DATE,
		  o.USER_ID USER_ID ,
		  oi.ORDER_INFO_NUM,
		  oi.CANCEL_COMMENT,
		  oi.COMMENTS,
		  oi.PRODUCT_CNT,
		  oi.PRODUCT_ID,
		  oi.PRODUCT_STATUS,
		  oi.RECOMMEND
		  from order_info oi JOIN ORDERS o
		  ON o.ORDER_NUM=oi.ORDER_NUM
	  	where o.ORDER_NUM = #{order_num}
	</select>
	
	<select id="selectOrderList" resultMap="OrderResultMap" parameterType="String">
		SELECT 
			o.ORDER_NUM order_num, 
			o.PRODUCT_ID product_id, 
			o.PRODUCT_STATUS PRODUCT_STATUS,	
			o.PRODUCT_CNT PRODUCT_CNT,
			to_char(o.ORDER_DATE, 'YYYY-MM-DD') order_date,
			o.ORDER_NUM order_num,
			o.USER_ID user_id,
			p.IMG_URL img_url,
			p.NAME name,
			ceil((p.price-(p.price*p.sale_pct/100))/10)*10*o.PRODUCT_CNT price
			FROM 
			ORDERS o JOIN PRODUCT p ON
			p.PRODUCT_ID = O.PRODUCT_ID
		where o.USER_ID = #{user_id}
		order by o.ORDER_NUM desc
	</select>

	<select id="selectAllOrderInfo" resultMap="OrderResultMap">
		SELECT
		o.ORDER_NUM order_num,
		o.PRODUCT_ID product_id,
		o.PRODUCT_STATUS PRODUCT_STATUS,
		o.PRODUCT_CNT PRODUCT_CNT,
		to_char(o.ORDER_DATE, 'YYYY-MM-DD') order_date,
		o.ORDER_NUM order_num,
		o.USER_ID user_id,
		p.IMG_URL img_url,
		p.NAME name,
		ceil((p.price-(p.price*p.sale_pct/100))/10)*10*o.PRODUCT_CNT price
		FROM
		ORDERS o JOIN PRODUCT p ON
		p.PRODUCT_ID = O.PRODUCT_ID
		order by o.ORDER_NUM desc
	</select>
	
	<update id="editOrder" parameterType="com.kitri.shopping.order.Order">
	 	UPDATE ORDERS
		SET PRODUCT_STATUS = #{product_status}
		WHERE ORDER_NUM = #{order_num}
	</update>
	
	
</mapper>
