<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.shopping.product.ProductMapper">

	<resultMap type="com.kitri.shopping.product.Product" id="ProductResultMap">
		<result property="product_id" column="product_id" />
		<result property="name" column="name" />
		<result property="quantity" column="quantity" />
		<result property="price" column="price" />
		<result property="sale_pct" column="sale_pct" />
		<result property="img_url" column="img_url" />
		<result property="category" column="category" />
		<result property="intro_content" column="intro_content" />
		<result property="user_id" column="user_id" />
		<result property="product_date" column="product_date" />
		<result property="sale_price" column="sale_price"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<select id="selectAll" resultMap="ProductResultMap" >
		select product_id,name,quantity,price,sale_pct,img_url,category,intro_content,user_id,product_date,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,status from Product where status='판매중' or status='품절' order by product_date desc
	</select>
	<select id="selectbyUser" resultMap="ProductResultMap" parameterType="String">
		select product_id,name,quantity,price,sale_pct,img_url,category,intro_content,user_id,product_date,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,status from Product where user_id=#{user_id} order by product_date desc
	</select>
	<select id="selectbyName" resultMap="ProductResultMap"  parameterType="String">
		select product_id,name,quantity,price,sale_pct,img_url,category,intro_content,user_id,product_date,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,status from Product where name like  '%'||#{name}||'%' and (status='판매중' or status='품절') order by name 
	</select>
	
	<select id="selectbyCategory" resultMap="ProductResultMap"  parameterType="String">
		select product_id,name,quantity,price,sale_pct,img_url,category,intro_content,user_id,product_date,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,status from Product where category like '%'||#{category}||'%' and (status='판매중' or status='품절') order by name 
	</select>
	<select id="select" resultMap="ProductResultMap" parameterType="int">
		SELECT product_id,name,quantity,price,sale_pct,img_url,category,intro_content,user_id,product_date,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,status FROM Product where product_id=#{product_id}
	</select>
	
	<insert id="insert" parameterType="com.kitri.shopping.product.Product">
		INSERT INTO Product values(SEQ_Product.nextval,#{name},#{quantity},#{price},#{sale_pct}, #{img_url},#{category}, #{intro_content},#{user_id} ,sysdate,'판매중')
	</insert>
	
	<update id="update" parameterType="com.kitri.shopping.product.Product">
		update Product set name=#{name}, quantity=#{quantity},price=#{price},sale_pct=#{sale_pct}, img_url=#{img_url}, category=#{category}, intro_content=#{intro_content},
		status=#{status}
			where product_id=#{product_id}
	</update>
	
	<select id="cartbest" resultMap="ProductResultMap">
	select img_url,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,p.product_id,sum,p.name,p.PRICE,p.SALE_PCT From product p,(select product_id,sum(cart_cnt) as sum FROM cart GROUP BY product_id order by sum(cart_cnt) DESC) c where p.product_id=c.product_id and rownum<![CDATA[<=]]>2
	</select>
	<select id="orderbest" resultMap="ProductResultMap">
	select img_url,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,p.product_id,sum,p.name,p.PRICE,p.SALE_PCT From product p,(select product_id,sum(orders.PRODUCT_CNT) as sum FROM orders GROUP BY product_id order by sum(orders.PRODUCT_CNT) DESC) o where p.product_id=o.product_id and rownum<![CDATA[<=]]>4
	</select>
	<select id="newitem" resultMap="ProductResultMap">
		select a.* from(select img_url,ceil((price-(price*sale_pct/100))/10)*10 as sale_price,product.PRODUCT_ID,product.NAME,product.PRICE,product.SALE_PCT from product ORDER BY product.PRODUCT_DATE desc)a where rownum<![CDATA[<=]]>2
	</select>

	<update id="delete" parameterType="int">
		update Product set status='판매중지'  where product_id=#{product_id}
	</update>
	<update id="updateStatus" parameterType="Map">
		update Product set status=#{status}  where product_id=#{product_id}
	</update>
	
</mapper>
