<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.shopping.user.usersMapper">

<!-- DTO 매칭을 위해서 사용 -->
	<resultMap type="com.kitri.shopping.user.users" id="usersResultMap">
		
	
		<result property="USER_ID" column="USER_ID" />
		<result property="PWD" column="PWD" />
		<result property="TYPE" column="TYPE" />
		<result property="EMAIL" column="EMAIL" />
		<result property="ADDRESS" column="ADDRESS" />
		<result property="PHONE" column="PHONE" />
		<result property="POINT" column="POINT" />
		<result property="NAME" column="NAME" />
		
		
	</resultMap>

	<insert id="insert" parameterType="com.kitri.shopping.user.users" >
		INSERT INTO USERS values(#{USER_ID},#{PWD},'일반', #{EMAIL},#{ADDRESS},#{PHONE},#{POINT},#{NAME})
	</insert>

	<select id="select" resultMap="usersResultMap" parameterType="String">
		SELECT * FROM USERS where USER_ID=#{USER_ID}
	</select>

	<select id="selectALL" resultMap="usersResultMap">
		SELECT * FROM USERS order by USER_ID desc
	</select>
	
	<select id="login" resultMap="usersResultMap">
		SELECT * FROM USERS where PWD=#{PWD}
	</select>
		

	
	<update id="update" parameterType="com.kitri.shopping.user.users">
		update USERS set USER_ID=#{USER_ID}, PWD=#{PWD}, '일반', EMAIL=#{EMAIL},ADDRESS=#{ADDRESS},PHONE=#{PHONE},POINT=#{POINT},NAME=#{NAME}) where USER_ID=#{USER_ID}
	</update>
	
	<update id="updateByApprove" parameterType="com.kitri.shopping.user.users">
		update USERS set USER_ID=#{USER_ID}, PWD=#{PWD}, '판매자', EMAIL=#{EMAIL},ADDRESS=#{ADDRESS},PHONE=#{PHONE},POINT=#{POINT},NAME=#{NAME}) where USER_ID=#{USER_ID}
	</update>
	
	<update id="updateByWithdraw" parameterType="com.kitri.shopping.user.users">
		update USERS set USER_ID=#{USER_ID}, PWD=#{PWD}, '탈퇴', EMAIL=#{EMAIL},ADDRESS=#{ADDRESS},PHONE=#{PHONE},POINT=#{POINT},NAME=#{NAME}) where USER_ID=#{USER_ID}
	</update>
	
	<select id="selectByEmail" resultMap="usersResultMap" parameterType="String">
		SELECT * FROM USERS where EMAIL=#{EMAIL}
	</select>
	
	<select id="selectByType" resultMap="usersResultMap" parameterType="String">
		SELECT * FROM USERS where TYPE=#{TYPE}
	</select>

</mapper>
